
<div class="col-6 col-sm-4 col-md-3 p-3">
  <div class="card shadow-sm border-light">
    <div class="card-body text-center">
      <div class="bg-light rounded mb-3 d-flex align-items-center justify-content-center" style="height: 400px;">
        <div style="width: 250px">
          <% if book.image.attached? %>
            <%= cl_image_tag book.image.key, class: "center-block", width: 230 %>
          <% else %>
            <%= image_tag book.book.cover_url, class: "center-block", width: 230 %>
          <% end %>
        </div>
      </div>
      <h4 class="h6 text-dark fw-bold"><%= book.title %></h4>
      <h5 class="h6 text-dark fw-bold text-primary"><%= book.condition%></h5>
      <p class="text-muted mb-2"><%= book.price %> yen a week</p>
      <%= link_to "More Details", listing_path(book), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>
