<div class="container mt-4">
  <div class="row">

    <div class="col-lg-8 mb-4">
      <% if @listing.image.attached? %>
        <img class="img-fluid rounded shadow" src="<%= url_for(@listing.image) %>" alt="Listing image" style="max-width: 350px; height: auto;">
      <% else %>
        <img class="img-fluid rounded shadow" src="https://randomuser.me/api/portraits/men/1.jpg" alt="No image available" style="max-width: 350px; height: auto;">
      <% end %>
    </div>

    <div class="col-lg-4 p-4 mb-4 bg-light rounded shadow d-flex flex-column justify-content-between">
      <div class="listing-details mb-3">
        <h1 class="font-weight-bold text-dark mb-3"><%= @listing.title %></h1>
        <h3><%= @listing.price %>円 per week</h3>
        <h4 class="text-muted mb-3"><%= @listing.book.title %> by <%= @listing.book.author %></h4>
        <p class="text-muted"><%= @listing.condition %> - <%= @updated <= 1 ? "Updated Today" : "#{@updated} days ago" %></p>
        <p><%= @listing.comment %></p>
        <a href="#" class="btn btn-primary btn-lg mt-3 w-100">See <%= @listing.book.title %> in our Library</a>
      </div>
      <button type="button" class="btn btn-primary mt-3 w-100" data-bs-toggle="modal" data-bs-target="#bookingModal">
        Borrow this book!
      </button>
    </div>
  </div>

  <!-- User Info and Reviews -->
  <div class="row mb-3 p-3 bg-white rounded shadow">
    <div class="col-lg-2 d-flex align-items-center">
      <% if @listing.user.profile_image.attached? %>
        <img class="pb-3 rounded-circle shadow" src="<%= url_for(@listing.user.profile_image) %>" alt="User profile image" style="width: 100px; height: 100px;">
      <% else %>
        <img class="pb-3 rounded-circle shadow" src="https://randomuser.me/api/portraits/men/1.jpg" alt="User profile" style="width: 100px; height: 100px;">
      <% end %>
    </div>
    <div class="col-lg-6">
      <p class="font-weight-bold"><%= @listing.user.email %></p>
      <div class="star-box mb-2">
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-solid fa-star text-warning"></i>
        <i class="fa-regular fa-star text-warning"></i>
      </div>
      <p class="text-muted">42 reviews</p>
    </div>
    <div class="col-lg-4">
      <h5>Recent Reviews:</h5>
      <% @reviews.each do |review| %>
        <p class="text-muted"><%= review.user.email %>: "<%= review.comment %>"</p>
      <% end %>
    </div>
  </div>
</div>

<!-- Include the modal partial -->
<%= render 'new-booking-modal' %>
