<div class="card shadow-sm border-light text-center p-4">
  <div class="mx-auto mb-3">
    <%= image_tag current_user.profile_image_url,
      class: "rounded-circle", width: 150, height: 150, alt: "User Avatar" %>
  </div>
  <h5 class="fw-bold"><%= current_user.username %></h5>

  <div class="container text-center">
    <ul class="nav nav-pills justify-content-center mb-4">
      <li class="nav-item">
        <a class="btn btn-primary btn-lg rounded-pill text-white m-3 <%= 'active' if params[:focus] == 'My Listings' %>" aria-current="page" href="?focus=My+Listings">My Listings</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-lg rounded-pill text-white m-3 <%= 'active' if params[:focus] == 'My Bookings' %>" href="?focus=My+Bookings">My Bookings</a>
      </li>
    </ul>

    <div class="row justify-content-center row g-4">
      <% if params[:focus].blank? || params[:focus] == "My Listings" %>
        <% if @listings_as_owner.empty? %>
          <p>You have no listings</p>
        <% else %>
          <% @listings_as_owner.each do |listing| %>
            <div class="col-6 col-sm-4 col-md-3 p-3">
              <div class="card shadow-sm border-light">
                <div class="card-body text-center">
                  <div class="bg-light rounded mb-3" style="height: 375px;">
                    <div style="width: 250px">
                      <% if listing.image.attached? %>
                        <%= cl_image_tag listing.image.key, class: "center-block", max_width: 350 %>
                      <% else %>
                        <%= image_tag listing.book.cover_url, class: "center-block", max_width: 350 %>
                      <% end %>
                    </div>
                  </div>
                  <h5 class="h6 text-dark fw-bold"><%= listing.title %></h5>
                  <p class="text-muted mb-2">Listing ID: <%= listing.id %></p>
                  <h5 class="h6 text-dark fw-bold text-primary"><%= listing.condition%></h5>

                  <% listing.bookings.each do |booking| %>
                    <div class="border rounded p-2 mb-2">
                      <p class="mb-1"><strong>Booking ID:</strong> <%= booking.id %></p>
                      <p class="mb-1"><strong>Requested User:</strong> <%= booking.user.email %></p>
                      <p class="mb-1">
                        <strong>Status:</strong>
                        <% booking.status == "pending" %>
                          <span class="badge bg-primary"><%= booking.status %></span>
                      </p>

                      <% if booking.status == "pending" %>
                        <div class="d-flex justify-content-center gap-2 mt-2">
                          <%= button_to "Accept", accept_listing_booking_path(listing_id: listing.id, id: booking.id), method: :patch, class: "btn btn-sm btn-success" %>
                          <%= button_to "Deny", deny_listing_booking_path(listing_id: listing.id, id: booking.id), method: :patch, class: "btn btn-sm btn-danger" %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="row justify-content-center g-4">
      <% if params[:focus].blank? || params[:focus] == "My Bookings" %>
        <% @bookings.each do |booking| %>
          <div class="col-6 col-sm-4 col-md-3 p-3">
            <div class="card shadow-sm border-light">
              <div class="card-body text-center">
                <div class="bg-light rounded mb-3" style="height: 375px;">
                  <div style="width: 250px">
                    <% if booking.listing.image.attached? %>
                        <%= cl_image_tag booking.image.key, class: "center-block", max_width: 350 %>
                      <% else %>
                        <%= image_tag booking.listing.book.cover_url, class: "center-block", max_width: 350 %>
                      <% end %>
                  </div>
                </div>
                <h5 class="h6 text-dark fw-bold"><%= booking.listing.title %></h5>
                <p class="text-muted mb-2">
                  <strong>Status:</strong>
                  <% if booking.status == "pending" %>
                    <span class="badge bg-primary"><%= booking.status %></span>
                  <% else %>
                    <span class="badge bg-primary"><%= booking.status %></span>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
